In [1]:
import pandas as pd

In [32]:
oui_df = pd.read_excel('oui_default.xlsx', sheet_name='db')

In [33]:
oui_df.head()

                       wwn type
0  50:01:43:80:24:d5:a7:44  SRV
1  50:01:43:80:24:d5:ad:bc  SRV
2  50:01:43:80:24:d5:a8:58  SRV
3  50:01:43:80:24:d5:ab:40  SRV
4  50:01:43:80:24:d5:aa:24  SRV

In [4]:
oui_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Data columns (total 2 columns):
wwn     5111 non-null object
type    5111 non-null object
dtypes: object(2)
memory usage: 80.0+ KB

In [34]:
oui_df.wwn.str[6:14]

0       43:80:24
1       43:80:24
2       43:80:24
3       43:80:24
4       43:80:24
          ...
5106    08:C0:02
5107    08:C0:02
5108    08:C0:02
5109    08:C0:02
5110    08:C0:02
Name: wwn, Length: 5111, dtype: object

In [35]:
oui_df['oui'] = oui_df.wwn.str[6:14]

In [37]:
oui_df.oui = oui_df.oui.str.lower()

In [38]:
oui_df.drop_duplicates(subset = ['type', 'oui'], inplace=True)

In [39]:
oui_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 5105
Data columns (total 3 columns):
wwn     148 non-null object
type    148 non-null object
oui     148 non-null object
dtypes: object(3)
memory usage: 4.6+ KB

In [59]:
oui_df[oui_df.duplicated(subset='oui', keep=False)].sort_values(by = 'oui')

                          wwn            type       oui
3935  10:00:00:05:1E:FB:C6:56  SRV|BROCADE_SW  00:05:1e
156   10:00:00:05:1e:a9:d0:b3  SRV|BROCADE_SW  00:05:1e
1660  10:00:00:05:33:90:82:ae  SRV|BROCADE_SW  00:05:33
674   10:00:00:05:33:4e:42:5c  SRV|BROCADE_SW  00:05:33
378   21:00:00:24:ff:04:b5:e5     SRV|STORAGE  00:24:ff
1602  21:00:00:24:ff:79:d2:c6     SRV|STORAGE  00:24:ff
711   51:40:2e:c0:00:d4:19:f4     STORAGE|LIB  2e:c0:00
1814  51:40:2e:c0:00:f6:18:7c     STORAGE|LIB  2e:c0:00
1782  50:01:43:80:00:c5:a4:30     SRV|STORAGE  43:80:00
4775  50:01:43:80:00:06:3F:49     SRV|STORAGE  43:80:00
520   50:01:43:80:01:69:73:da     SRV|STORAGE  43:80:01
4555  50:01:43:80:01:3B:E4:48     SRV|STORAGE  43:80:01
262   50:01:43:80:03:2E:21:83     STORAGE|LIB  43:80:03
633   50:01:43:80:03:3a:8a:6e     STORAGE|LIB  43:80:03
4559  50:01:43:80:04:C5:F3:A8     SRV|STORAGE  43:80:04
558   50:01:43:80:04:25:20:3c     SRV|STORAGE  43:80:04
1081  50:01:43:80:12:8e:40:08     STORAGE|LIB  43:80:12
502   50:01:43:80:12:0b:76:70     STORAGE|LIB  43:80:12
703   50:01:43:80:16:7a:11:a8     STORAGE|LIB  43:80:16
96    50:01:43:80:16:02:38:18     STORAGE|LIB  43:80:16
1590  50:01:43:80:24:47:ee:1e     STORAGE|SRV  43:80:24
0     50:01:43:80:24:d5:a7:44     STORAGE|SRV  43:80:24
741   50:01:43:80:36:be:93:d7     STORAGE|LIB  43:80:36
1500  50:01:43:80:36:85:d6:2c     STORAGE|LIB  43:80:36

In [31]:
oui_df

                          wwn     type       oui
0     50:01:43:80:24:d5:a7:44      SRV  43:80:24
12    50:06:0b:00:00:c2:62:80      SRV  0b:00:00
14    10:00:98:f2:b3:a1:2f:96      SRV  98:f2:b3
16    10:00:00:00:c9:e0:cb:8f      SRV  00:00:c9
40    50:01:43:80:07:2c:8a:5a      SRV  43:80:07
...                       ...      ...       ...
4860  21:00:00:24:FF:61:E9:AB  STORAGE  00:24:FF
4868  20:16:00:A0:B8:11:64:58  STORAGE  00:A0:B8
4885  50:01:43:82:C6:D0:57:FD      LIB  43:82:C6
4914  20:01:00:13:21:44:32:9A      LIB  00:13:21
5105  50:03:08:C0:02:60:30:02      LIB  08:C0:02

[155 rows x 3 columns]

In [32]:
oui_df[oui_df.type == 'VC']

                          wwn type       oui
148   20:00:00:11:0a:05:aa:ec   VC  00:11:0a
1906  20:00:00:24:81:76:d7:94   VC  00:24:81

In [41]:
oui_df.loc[oui_df.oui == '00:05:1e', 'type'] = 'SRV|BROCADE_SW'

In [42]:
oui_df.loc[oui_df.oui == '00:05:33', 'type'] = 'SRV|BROCADE_SW'

In [45]:
oui_df.drop(index=3494, inplace = True)

In [47]:
oui_df.loc[oui_df.oui == '00:24:ff', 'type'] = 'SRV|STORAGE'

In [48]:
oui_df.loc[oui_df.oui == '43:80:00', 'type'] = 'SRV|STORAGE'

In [49]:
oui_df.loc[oui_df.oui == '43:80:01', 'type'] = 'SRV|STORAGE'

In [50]:
oui_df.loc[oui_df.oui == '43:80:04', 'type'] = 'SRV|STORAGE'

In [51]:
oui_df.loc[oui_df.oui == '43:80:24', 'type'] = 'STORAGE|SRV'

In [53]:
oui_df.loc[oui_df.oui == '2e:c0:00', 'type'] = 'STORAGE|LIB'

In [54]:
oui_df.loc[oui_df.oui == '43:80:03', 'type'] = 'STORAGE|LIB'

In [55]:
oui_df.loc[oui_df.oui == '43:80:12', 'type'] = 'STORAGE|LIB'

In [57]:
oui_df.loc[oui_df.oui == '43:80:16', 'type'] = 'STORAGE|LIB'

In [58]:
oui_df.loc[oui_df.oui == '43:80:36', 'type'] = 'STORAGE|LIB'

In [60]:
oui_df.drop_duplicates(subset = ['type', 'oui'], inplace=True)

In [61]:
oui_df.sort_values(by = ['type', 'oui'], inplace = True)

In [62]:
oui_df.reset_index(drop= True, inplace=True)

In [63]:
oui_df

                         wwn         type       oui
0    10:00:00:27:f8:c8:65:f2   BROCADE_SW  00:27:f8
1    10:00:00:60:69:C0:12:69   BROCADE_SW  00:60:69
2    10:00:50:eb:1a:e3:56:1c   BROCADE_SW  50:eb:1a
3    10:00:88:94:71:b7:39:f0   BROCADE_SW  88:94:71
4    10:00:c4:f5:7c:d9:5a:6a   BROCADE_SW  c4:f5:7c
..                       ...          ...       ...
130  50:01:43:80:16:02:38:18  STORAGE|LIB  43:80:16
131  50:01:43:80:36:be:93:d7  STORAGE|LIB  43:80:36
132  50:01:43:80:24:d5:a7:44  STORAGE|SRV  43:80:24
133  20:00:00:11:0a:05:aa:ec           VC  00:11:0a
134  20:00:00:24:81:76:d7:94           VC  00:24:81

[135 rows x 3 columns]

In [65]:
oui_df.to_excel('oui_2.xlsx', index=False)